
body {
    background-image: url("https://www.amazeelabs.com/sites/default/files/styles/leading_image/public/pexels-photo.jpg?h=f7d9296c&itok=LzenSsG8");
    background-color: #cccccc;
    height: fit-content; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
   }

.jumbotron {
    margin-bottom: 0 !important;
}

#current {
    margin-top: 2rem;
}

.firstSection {
    background-color: darkgrey;
    padding-bottom: 40rem;
}

h2 {
    padding-top: 20px;
}

#dayCast {
    color: white;
}

#fiveDay {
    text-align: center;
    color: white;   
}
